<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/modifysell">
    {% for item in sells %}
    {% csrf_token %}
    <h3>销售单号{{ item.sell_id }}"</h3>
    <br>
    <h3>商品编号{{ item.goods_id }}"</h3>
    销售价格
    <input type="text" name="sell_price" value="{{ item.sell_price }}">
    <br>
    销售数量
    <input type="text" name="sell_num" value="{{ item.sell_num }}">
    <br>
    顾客id
    <input type="text" name="customer_id" value="{{ item.customer_id }}">
    <br>
    销售员id
    <input type="text" name="seller_id" value="{{ item.seller_id }}">
    <br>
    <br>
    <input type="submit" value="修改">
    {% endfor %}
</form>
</body>
</html>